<div class="topnav" id="myTopnav" >
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
  <a [routerLink]="['/empleados']" routerLinkActive="router-link-active" *ngIf="tipoUsuario">Empleados</a>
  <a [routerLink]="['/juego']" routerLinkActive="router-link-active" *ngIf="!tipoUsuario" >Juego</a>
  <a [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()">Exit</a>
</div>
<div class=" contentLeft mdc-card" >
  <div class="row" >
      <div class="col-auto">
          <div class="row">
              <button [disabled]="disableBtn1" id="1" class="buttonG" (click)="getResp($event,1)" >
                 
              </button>
              <button [disabled]="disableBtn1" id="2" class="buttonG" (click)="getResp($event,2)">
                 
              </button>
              <button  [disabled]="disableBtn1" id="3" class="buttonG" (click)="getResp($event,3)">
                 
              </button>
          </div>
          <div class="row">
              <button [disabled]="disableBtn1" id="4" class="buttonG" (click)="getResp($event,4)">
                  
              </button>
              <button [disabled]="disableBtn1" id="5" class="buttonG" (click)="getResp($event,5)">
                  
              </button>
              <button [disabled]="disableBtn1" id="6" class="buttonG" (click)="getResp($event,6)">
                 
              </button>
          </div>
          <div class="row">
              <button  [disabled]="disableBtn1" id="7" class="buttonG" (click)="getResp($event,7)">
                 
              </button>
              <button [disabled]="disableBtn1" id="8" class="buttonG" (click)="getResp($event,8)">
                  
              </button>
              <button [disabled]="disableBtn1" id="9" class="buttonG" (click)="getResp($event,9)">
                 
              </button>
          </div>
      </div>
  </div>
</div>
<div class="contentRight mdc-card">
  <div class="row">
      <h3 >Mensajes</h3>
  </div>
  <div class="row">
      <p >
         {{mensaje}}
      </p>
  </div>
  <div class="row textCenter">
      <button type="button" class="mdc-button mdc-button--outlined" *ngIf="empezarJuego" (click)="IniciarJuego()">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Iniciar juego</span>
      </button>
      <button type="button" class="mdc-button mdc-button--outlined" *ngIf="jugarNuevamente" (click)="jugarDenuevo()">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">Si</span>
      </button>
      <button type="button" class="mdc-button mdc-button--outlined" *ngIf="jugarNuevamente" (click)="noJugarDenuevo()">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__label">No</span>
      </button>
  </div>
</div>

